

= link_to "New Employee", new_employee_path, class: 'btn btn-primary'

%hr

= render "search_bar"

%hr

%table#employees_table.display.responsive.no-wrap.table.table-bordered.table-striped
  %thead
    %tr
      %th= "Full Name"
      %th= "Date of Birth"
      %th= "Gender"
      %th
  %tbody
    - @employees.each do |employee|
      %tr
        %td= employee.full_name
        %td= employee.dob
        %td= employee.gender.name
        %td= link_to "Edit", edit_employee_path(employee)

= link_to "New Employee", new_employee_path, class: 'btn btn-primary'

%hr
