%h3 Employees
%table.table.table-bordered.table-striped
  %tr
    %th= sortable "first_name"
    %th= sortable "last_name"
    %th= sortable "other_names"
    %th= sortable "dob", "Date of Birth"
    %th= sortable "gender_id", "Gender"
    %td
  - @employees.each do |employee|
    %tr
      %td= employee.first_name
      %td= employee.last_name
      %td= employee.other_names
      %td= employee.dob
      %td= employee.gender.sex
      %td= link_to "Edit", edit_employee_path(employee), class: "btn btn-primary"

= link_to "New Employee", new_employee_path, class: 'btn btn-primary'
