%h3 Employees


= form_tag search_employees_path, method: :get, role: "search" do
  .input-group
    = text_field_tag :q, nil, class: 'form-control', placeholder: 'Search here...'
    %span.input-group-btn
      = submit_tag 'Search!', class: 'btn btn-default', name: nil

%hr

%table.table.table-bordered.table-striped
  %tr
    %th= sortable "first_name"
    %th= sortable "last_name"
    %th= sortable "other_names"
    %th= sortable "dob", "Date of Birth"
    %th= sortable "gender_id", "Gender"
    %td
  - @employees.each do |employee|
    %tr
      %td= employee.first_name
      %td= employee.last_name
      %td= employee.other_names
      %td= employee.dob
      %td= employee.gender.name
      %td= link_to "Edit", edit_employee_path(employee), class: "btn btn-primary"

= link_to "New Employee", new_employee_path, class: 'btn btn-primary'

%hr

= will_paginate @employees, class: 'digg_pagination'
