- title "My Leave History"
.form-group.col-lg-6
  %h3 Leave History
%table.table.table-bordered.table-hover
  %thead
    %tr
      %th #
      %th Start Date
      %th End Date
      %th Days
      %th Request Type
      %th Status
      %th{style: "width: 315px;"} Action
  %tbody
    - @leave_requests.each_with_index do |leave_request, index|
      %tr
        %td= index + 1
        %td= leave_request.date_from.strftime("%e-%b-%Y")
        %td= leave_request.date_to.strftime("%e-%b-%Y")
        %td= "#{leave_request.days_taken} - #{leave_request.day_type.capitalize}"
        %td= leave_request.leave_type.name
        %td{id: "leave_request_#{leave_request.id}_status"}= leave_request.leave_status.try(:name)
        %td
          = link_to "#", class: 'btn btn-primary btn-xs' do
            %i.glyphicon.glyphicon-info-sign
            View Details
          - if leave_request.leave_status_id == 1
            = link_to book_leave_employee_path(current_user, leave_request: leave_request.id), method: :post, remote: true, class: 'btn btn-success btn-xs', id: "leave_request_#{leave_request.id}" do
              %i.glyphicon.glyphicon-ok
              Book Leave
          = link_to "#", class: 'btn btn-danger btn-xs' do
            %i.glyphicon.glyphicon-remove
            Cancel Leave

