- if @results.present?
  - title "Displaying results for #{params[:q]} ... "
- else
  - title "Nothing found"

%hr

= render "search_bar"

%hr
- if @results.present?
  %table.table.table-bordered.table-striped
    %tr
      %th= "Full Name"
      %th= "Date of Birth"
      %th= "Gender"
      %td
    - @results.each do |employee|
      %tr
        %td= link_to employee, employee_path(employee)
        %td= employee.dob
        %td= employee.gender.name
        %td= link_to "Edit", edit_employee_path(employee), class: "btn btn-primary"
- else
  %h2.text-center{style: 'font-weight: normal; font-style: italic'}= "Your search - #{params[:q]} - did not find any records!"
