
%div.row
  .col-md-8
    .jumbotron
      %table.table.table-condensed
        %thead
          %tr
            %th= "Full Name"
            %th= "Date of Birth"
            %th= "Gender"
        %tbody
          %tr
            %td= @employee
            %td= @employee.dob
            %td= @employee.gender.name
  %div.col-md-4
    .jumbotron
      .text-center
        = link_to employees_path, class: 'btn btn-primary btn-lg' do
          \&#8592; Back

%br

%div.row
  %div.col.md-12
    %ul.nav.nav-tabs
      %li{:class => ('active' if params[:tab].nil?)}
        =link_to "Next of Kin", employee_path(@employee)
      %li{:class => ('active' if params[:tab] == 'emergency')}
        =link_to "Emergency Contact", employee_path(@employee, tab: 'emergency')
      %li{:class => ('active' if params[:tab] == 'address')}
        =link_to "Address", employee_path(@employee, tab: 'address')
      %li{:class => ('active' if params[:tab] == 'leavedetails')}
        =link_to "Leave Details", employee_path(@employee, tab: 'leavedetails')

- if params[:tab].nil?
  %br
  - if @employee.next_of_kins.empty?
    %p.text-center= "No records available."
  -else
    %table.table.table-hover
      %thead
        %tr
          %th= "Name"
          %th= "Mobile"
          %th= "Percentage"
          %th= "Edit"
      %tbody
        - @employee.next_of_kins.each do |next_of_kin|
          %tr
            %td= next_of_kin
            %td= next_of_kin.mobile
            %td= next_of_kin.percentage
            %td
              = link_to edit_employee_next_of_kin_path(@employee, next_of_kin) do
                %i.glyphicon.glyphicon-edit

  %br
  = link_to "Add Next of Kin", new_employee_next_of_kin_path(@employee), class: "btn btn-success"
- elsif params[:tab] == 'address'
  - if @employee.address1.present? || @employee.address2.present?
    %br
    %table.table.table-hover
      %thead
        %tr
          %th= "Address 1"
          %th= "Address 2"
      %tbody
        %tr
          %td= @employee.address1
          %td= @employee.address2
  - else
    %br
    %p.text-center= "No records available."
- elsif params[:tab] == 'emergency'
  - if @employee.emergencies.present?
    %br
    %table.table.table-hover
      %thead
        %tr
          %th
          %th= "Emergency Contact Name"
          %th= "Emergency Contact Address"
      %tbody
        - @employee.emergencies.each do |contact|
          %tr
            %td
            %td= contact
            %td= contact.address1
  - else
    %br
    %p.text-center= "No records available."
