.container
  %nav.navbar.navbar-default{:role => "navigation"}
    .container-fluid
      .navbar-header
        %button.navbar-toggle.collapsed{"data-toggle" => "collapse", :type => "button"}
        = link_to "HR Manager", employees_path, class: 'navbar-brand'
      - if current_user
        .collapse.navbar-collapse
          - if current_user && super_user?
            %ul.nav.navbar-nav
              %li
                = link_to "#" do
                  %i.glyphicon.glyphicon-th
                  Dashboard
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  Employees
                  %span.caret
                %ul.dropdown-menu{:role => "menu"}
                  %li
                    = link_to new_employee_path do
                      %i.glyphicon.glyphicon-plus
                      Add Employee
                  %li
                    = link_to employees_path do
                      %i.glyphicon.glyphicon-th-list
                      View Employees
          %ul.nav.navbar-nav
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                Leave Menu
                %span.caret
              %ul.dropdown-menu{:role => "menu"}
                %li
                  = link_to new_leave_request_path do
                    %i.glyphicon.glyphicon-plus
                    Book Leave
                %li
                  %a{:href => "#"} My Leave History
                %li
                  %a{:href => "#"} Report
                - if super_user?
                  %li
                    %a{:href => "#"} Pending Requests
                  %li
                    %a{:href => "#"} Team History
          %ul.nav.navbar-nav.navbar-right
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                #{current_user}
                %span.caret
              %ul.dropdown-menu{:role => "menu"}
                %li
                  = link_to sign_out_path do
                    %i.glyphicon.glyphicon-log-out
                    Sign out
                  %a{:href => "#"} Action
                %li
                  %a{:href => "#"} Another Action
                %li.divider
                %li
                  %a{:href => "#"} Separated Action
