!!!
%html
  %head
    %title= title
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    %meta{ name: 'keywords', content: meta_keywords }
    %meta{ name: 'description', content: meta_description }
    = csrf_meta_tags
  %body
    = render 'shared/header'
    .container
      .row
        = render 'shared/messages'
      = yield
