!!!
%html
  %head
    %title= title
    = stylesheet_link_tag    'application', media: 'all'
    %meta{ name: 'keywords', content: meta_keywords }
    %meta{ name: 'description', content: meta_description }
    = csrf_meta_tags
  %body{:style => 'padding-bottom: 70px'}
    = render 'shared/header'
    .container
      .row
        #content-div.col-md-10.col-md-offset-1
        = render 'shared/messages'
      = yield
      = javascript_include_tag 'application'
    %footer
      = render 'shared/footer'
